extends layout

block content
    div.form-panel
        div.header
            form(action=`/edit/${card.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(id='name' name='name' value=card.name)
                div.form-input
                    label(for='type') Type
                    select(id='type' name='type' autocomplete='off')
                        each type in types
                            option(value=type selected = (type ===card.type)) #{type}
                div.form-input
                    label(for='image') Image:
                    input(id='image' name='image')
                div.form-input
                    label(for='hp') Hp
                    input(id='hp' name='hp')
                div.form-input
                    label(for='moveName1') First Move:
                    input(id='moveName1' name='moveName1')
                div.form-input
                    p First Move Cost:
                    select(id='firstCost1a' name='firstCost1a' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                    select(id='firstCost2a' name='firstCost2a' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                    select(id='firstCost3a' name='firstCost3a' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for='moveDMG1') First Move Damage:
                    input(id='moveDMG1' name='moveDMG1')
                div.form-input
                    label(for='moveName2') Second Move:
                    input(id='moveName2' name='moveName2')
                div.form-input
                    p Second Move Cost:
                        select(id='moveCost1b' name='moveCost1b' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='moveCost2b' name='moveCost2b' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='moveCost3b' name='moveCost3b' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for='moveDMG2') Second Move Damage:
                    input(id='moveDMG2' name='moveDMG2')
                div.form-input
                    p Weak To:
                        select(id='Weak1' name='Weak1' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='Weak2' name='Weak2' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='Weak3' name='Weak3' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    p Resistant To:
                        select(id='Res1' name='Res1' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='Res2' name='Res2' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='Res3' name='Res3' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    p Resistant To:
                        select(id='RetreatCost1' name='RetreatCost1' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='RetreatCost2' name='RetreatCost2' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='RetreatCost3' name='RetreatCost3' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                div.submit-row
                    a.button.cancel(href='/') Cancel
                    a.button.delete(href=`/delete/${card.id}`) Delete
                    button.button.save(type='submit') Submit