extends layout

block content
    div.form-panel
        div.header
            form(action=`/edit/${card.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='type' id='name' value=card.name)
                div.form-input
                    label(for='type') Type
                    select(id='type' name='type' autocomplete='off')
                        each type in types
                            option(value=type selected = (type ===card.type)) #{type}
                div.form-input
                    label(for='hp') Hp
                    input(id='hp' name='hp')
                div.form-input
                    label(for='firstMove') First Move:
                    input(id='firstmove' name='firstmove')
                div.form-input
                    p First Move Cost:
                    select(id='firstCosta' name='firstCosta' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                    select(id='firstCostb' name='firstCostb' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                    select(id='firstCostc' name='firstCostc' autocomplete='off')
                        each type in types
                            option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for='firstDMG') First Move Damage:
                    input(id='firstDMG' name='firstDMG')
                div.form-input
                    label(for='secondMove') Second Move:
                    input(id='secondMove' name='secondMove')
                div.form-input
                    p First Move Cost:
                        select(id='firstCosta' name='firstCosta' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='firstCostb' name='firstCostb' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                        select(id='firstCostc' name='firstCostc' autocomplete='off')
                            each type in types
                                option(value=type selected = (type === card.type)) #{type}
                div.form-input
                    label(for='secondDMG') Second Move Damage:
                    input(id='secondDMG' name='secondDMG')